<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loginService.isLoggedIn()">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onClickChat()">
      <ion-icon name="chatboxes"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding" *ngIf="isFollowingNobody()">
    Vous ne suivez actuellement personne. Pour commencer à suivre quelqu'un, et voir leurs dernières activités dans votre fil d'actualité, cliquez sur votre profil, puis recherchez un utilisateur à l'aide de la barre de recherche.
  </div>
  <div class="ion-padding" *ngIf="!isFollowingNobody() && activities.length == 0">
    Aucun des utilisateurs que vous suivez n'a posté de contenu.
  </div>
  <ion-list *ngIf="!isFollowingNobody() && activities.length > 0">
    <ion-card *ngFor="let activity of activities">
      <ion-card-header>
        <ion-card-title>{{ getActivityTitle(activity) }}</ion-card-title>
        <ion-card-subtitle>{{ getStartTime(activity) }} ({{ getActivityLength(activity) }})</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card-content>
      <div class="ion-padding">{{ getActivityDescription(activity) }}</div>
    </ion-card-content>
  </ion-list>
</ion-content>

<ion-content *ngIf="!this.loginService.isLoggedIn()">
  <ion-row>
    <ion-col class="login-row">
      <div class="ion-padding">Il semblerait que vous n'êtes pas connecté ! Veuillez vous connecter avant d'utiliser l'application.</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="login-row">
      <ion-button shape="round" size="default" (click)="loginService.login()">
        Se Connecter
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
