/DialogFlow/App/*.log
/DialogFlow/App/log.txt
/DialogFlow/App/npm-debug.log*
/DialogFlow/App/.idea
/DialogFlow/App/.ionic
/DialogFlow/App/.sass-cache
/DialogFlow/App/.sourcemaps
/DialogFlow/App/.versions
/DialogFlow/App/.vscode
/DialogFlow/App/coverage
/DialogFlow/App/dist
/DialogFlow/App/node_modules
/DialogFlow/App/platforms
/DialogFlow/App/plugins
/DialogFlow/App/www
/DialogFlow/App/resources
APIKeys/*
!APIKeys/README.md 
