.circle {
  background-color: #e6e6fa;
  border: 1px solid gray;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 50px;
}

.content{
    height: 100px;
}
