.center-content {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
.blackButton {
    --color: var(--ion-color-dark);
    color: var(--ion-color-dark);
}
.grey-button {
    --color: var(--ion-color-medium);
    color: var(--ion-color-medium);
}
.border-wrapper {
	width: 100%;
	padding-bottom: 33.33%; /* 3:1 */
	position: relative;
}
.border-wrapper > ion-img {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
.top-shifter {
    position: relative;
    top: -60px;
}
.user-avatar {   
    width: 100%;  
    height : 100%;
    max-width: 120px;  
    max-height : 120px;
    border: 4px solid var(--ion-color-light);
}
.user-name {
    color: var(--ion-color-dark);
    font-weight: bold;
    font-size: x-large;
}
.selected-tab {
    border-bottom: solid var(--ion-color-primary) 4px;
}
.selected-tab > ion-text {
    color: var(--ion-color-primary);
    font-weight: bold;
}
.unselected-tab {
    border-bottom: solid var(--ion-color-primary) 2px;
}
.unselected-tab > ion-text {
    color: var(--ion-color-primary);
}
.level-display {
    color: var(--ion-color-primary);
    font-weight: bold;
}
.progress-col {
    padding: 0px;
}
.progress-container {
    width: 100%;
    top: 35%;
    position: absolute;
}
.progress-fill {
    height: 10px;
    background: var(--ion-color-primary);
    position: absolute;
}
.progress-bar {
    width: 100%;
    height: 10px;
    border: solid var(--ion-color-primary) 1px;
    position: absolute;
}
.icon-success-done {
    --color: var(--ion-color-warning);
    color: var(--ion-color-warning);
}
.icon-success-not-done {
    --color: var(--ion-color-medium);
    color: var(--ion-color-medium);
}
.slide-content {
    padding-bottom: 20px;
    width: 100%;
}