
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profil
    </ion-title>
    <ion-button *ngIf="isLoggedUser()" fill="clear" slot="end" (click)="onClickEdit()">
      <ion-icon class="blackButton" name="create"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-item>
    <ion-input [(ngModel)]="userInput" placeholder='Rechercher un utilisateur'></ion-input>
    <ion-button disabled="{{!userInput}}" (click)="onClickSearch()" slot="end" fill="clear">
        <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-item>
</ion-header>


<ion-content>
  <div class="border-wrapper">
    <ion-img *ngIf="displayedUser" src="../../assets/img/default-cover.png"></ion-img>
    <ion-img *ngIf="!displayedUser" src="../../assets/img/unknown-cover.png"></ion-img>
  </div>
  <div class="top-shifter">
    <ion-row class="center-content">
      <ion-avatar class="user-avatar">
        <img *ngIf="displayedUser" src="../../assets/img/default-avatar.png">
        <img *ngIf="!displayedUser" src="../../assets/img/unknown-avatar.png">
      </ion-avatar>
    </ion-row>
    <ion-row class="center-content">
      <ion-text *ngIf="displayedUser" class="user-name">
        {{this.displayedUser.firstName}} {{this.displayedUser.lastName}}
      </ion-text>
      <ion-text *ngIf="!displayedUser" class="user-name">
        Unknown user : {{ username }}
      </ion-text>
    </ion-row>
    <ion-grid>
      <ion-row class="center-content">
        <ion-col
          [ngClass]="currentTab == 0 ? 'selected-tab' : 'unselected-tab'"
          (click)="onClickTab(0)">
          <ion-text>Planning</ion-text>
        </ion-col>
        <ion-col
          [ngClass]="currentTab == 1 ? 'selected-tab' : 'unselected-tab'"
          (click)="onClickTab(1)">
          <ion-text>Activités</ion-text>
        </ion-col>
        <ion-col
          [ngClass]="currentTab == 2 ? 'selected-tab' : 'unselected-tab'"
          (click)="onClickTab(2)">
          <ion-text>Score</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-slides
      #slides
      [options]="slideOpts"
      (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <ion-list>
          <ion-item-sliding *ngFor="let event of eventList">
            <ion-item>
              <ion-card>
                <ion-item>
                  <ion-icon name="fitness" slot="start"></ion-icon>
                  <ion-label>{{event.summary}}</ion-label>
                  <ion-button color="danger" fill="outline" slot="end" (click)="onClickDeleteEvent(event.id)"><ion-icon slot="icon-only" name="close-circle"></ion-icon></ion-button>
                </ion-item>
              
                <ion-card-content>
                  <ion-text [color]="isEventOutdated(event.start.dateTime) ? 'primary' : 'danger'">
                    <h5>{{calendar.parseDate(event)}}</h5>
                  </ion-text>
                  {{event.description}}
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding">Cet utilisateur n'a publié aucune activité.</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">
          <ion-grid>
            <ion-row>
              <ion-col class="level-display" size=3 *ngIf="displayedUser">
                Niveau {{ displayedUser.level }}
              </ion-col>
              <ion-col class="level-display" size=3 *ngIf="!displayedUser">
                Niveau ?
              </ion-col>
              <ion-col class="progress-col">
                <div class="progress-container">
                  <div class="progress-fill"></div>
                  <div class="progress-bar"></div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-list>
            <ion-item *ngFor="let achievement of achievements">
              <ion-icon
                name="trophy" slot="start"
                [ngClass]="achievement.done ? 'icon-success-done' : 'icon-success'"></ion-icon>
              <ion-label>{{ achievement.name }}</ion-label>
              <ion-button slot="end" fill="clear" class="grey-button" (click)="onClickAchievement(achievement)">
                <ion-icon name="help"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
