<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mes Activités</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="start-session">
                <ion-icon name="walk"></ion-icon>
                <ion-label>Débuter une session</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="progression">
                <ion-icon name="trending-up"></ion-icon>
                <ion-label>Ma Progression</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="historic">
                <ion-icon name="list"></ion-icon>
                <ion-label>Mon Historique</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>